a,b,big,body,dd,del,div,dl,dt,em,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,label,li,ol,p,pre,small,span,strong,u,ul{margin:0;padding:0}

body{ font-family:"微软雅黑", "宋体"}
a{ text-decoration:none;}
img{ border:none;}
ul,ol{ list-style:none;}

.common_title{ width:1100px; margin:0 auto; background:url(../images/title_bg.png) repeat-x center 10px; text-align:center; }
.common_title h2{ font-size:20px; color:#333; font-weight:100; background:#f2f4f6; display:inline-block; padding:0 20px;}
.common_title p{ font-size:12px; color:#00b3e1; text-transform:uppercase; line-height:1em; margin:10px 0;}
.common_title i{ width:50px; height:1px; display:inline-block; background:#00b3e1}